body{background-color : #ffb3cc}
h1{color:white; font-style: serif; text-align: center; text-shadow: 1px 1px black}
h2{color:white; font-style: serif; text-align: left; text-shadow: 1px 1px black}
p{color:white; font-style: sans-serif; text-align: justify}
h3{color:white; font-style: sans-serif; text-align: left; text-shadow: 1px 1px black}